
#tabla{
    height: 1000px;
    width: 1300px;
    

}
#arriba{
    height: 130px;
    width: 1300px;

    background-color: chocolate;
    
    
}
#izquierda{
    height: 1000px;
    width: 150px;

    float: left;
    background-color: chocolate;
}

.madre {
    height: 130px;
    width: 1150px;

    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    height: 130px;
    width: 200px;

    margin-left: 0px;
    font-size: 40px;
    margin-top: 20px;

}

.usuario {
    height: 130px;
    width: 200px;
    margin-left: 300px;
    font-size: 40px;
    margin-left: 750px;
    margin-top: 60px;
}

.logo {
    height: 130px;
    width: 150px;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

.libro{
    height: 150px;
    width: 150px;
}


.padrastro {
    height: 868px;
    width: 1145px;
    border: 1px solid black;
    margin-left: 150px;
}

.awebo {
    width: 1145px;
    height: 434px;

    display: flex;
    justify-content:space-between ;
    align-items: center;
}

.libro1 {
    height: 370px;
    width: 300px;
    margin-left: 30px;
    border: 1px solid black;
}

.foto1 {
    height: 300px;
    width: 300px;
    border: 1px solid black;

}

#f1 {
    height: 300px;
    width: 300px;
    margin-top: 0;
    
}

.nombre1 {
    text-align: center;
    font-size: 20px;
}

.libro2 {
    height: 370px;
    width: 300px;
    border: 1px solid black;
}

.libro3 {
    height: 370px;
    width: 300px;
    border:1px solid black;
    margin-right: 30px;
}


.awebo2 {
    width: 1145px;
    height: 434px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}

#boton{
    background-color: chocolate;
    border-color: chocolate;
    font-size: 20px;
}


#botones{
    background-color: chocolate;
    border-color: orange;
    margin: 15px;
    margin-left: 100px;
}

#botones2{
    background-color: chocolate;
    border-color: orange;
    margin: 15px;
    margin-left: 100px;
}

